.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}
.logo {
  position: absolute;
  left: 40px;
  top: 40px;
}
